* {
  background-color: #1e1e1e;
}

html {
  font-family: 'Montserrat';
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 50px 0;
}
section h1 {
  color: rgba(255, 255, 255, 0.322);
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 10px;
}
section p {
  text-align: center;
  color: rgba(255, 255, 255, 0.322);
  width: 100%;
  margin-bottom: 20px;
  font-size: 22px;
}
.container {
  width: 90%;
  max-width: 500px;
}
.texts p {
  color: rgba(196, 179, 179, 0.5);
  text-align: left;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 22px;
}
.texts p.replay {
  text-align: right;
}

.startRecButton {
  color: white;
}
.startGameButton {
  color: white;
}
.buttons {
  text-align: center;
  margin-bottom: 20px;
}
