* {
  background-color: #1e1e1e;
}

html {
  font-family: 'Montserrat';
}

section#header {
  color: rgba(255, 255, 255, 0.322);
  text-align: center;
  padding: 20px 0;
}

section#body {
  text-align: center;
  color: rgba(255, 255, 255, 0.322);
  margin-bottom: 20px;
  font-size: 20px;
}

.container {
  text-align: center;
  max-width: 500px;
}
p + p::before {
  content: '→';
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-right: 10px;
}

.texts p {
  float: left;
  color: rgb(255, 0, 0);
  text-align: left;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 22px;
  -webkit-animation: fadein 1s;
}

.texts p.user {
  color: rgba(0, 204, 255, 0.781);
  text-align: right;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#timerP {
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.buttons {
  text-align: center;
  margin-bottom: 20px;
}
#startRecButton {
  border: none;
  color: rgba(255, 255, 255, 0.322);
  font-size: 2rem;
}
