* {
  background-color: #1e1e1e;
}

html {
  font-family: 'Montserrat';
}

section#header {
  color: rgba(255, 255, 255, 0.322);
  text-align: center;
  padding: 20px 0;
  display: block;
}

section#body {
  text-align: center;
  color: rgba(255, 255, 255, 0.322);
  margin-bottom: 20px;
  font-size: 20px;
}

.container {
  text-align: center;
  max-width: 500px;
  display: flex;
}
p + p::before {
  content: '→';
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-right: 10px;
}

.nameArea p {
  float: left;
  color: #dc3545;
  text-align: left;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 22px;
  animation: normal;
  -webkit-animation: fadein 1s;
}

.nameArea p.user {
  color: #007bff;
  text-align: right;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#timerP {
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#startMicButton {
  border: none;
  color: rgba(255, 255, 255, 0.322);
  font-size: 2rem;
}

.playerNameArea {
  padding-bottom: 10px;
}

#playerNameInput {
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
}

.col-md {
  max-width: 200px;
  display: block;
  color: antiquewhite;
}

table {
  color: rgba(255, 255, 255, 0.322);
  display: inline-block;
  position: absolute;
  left: 3%;
  top: 35px;
  max-width: 50px;
  max-height: 50px;
  z-index: 100;
}

.table td,
.table th {
  color: rgba(255, 255, 255, 0.322);
  height: 4px;
}

#liveScore {
  color: black;
  position: absolute;
  right: 12%;
  top: 5%;
  font-size: 35px;
  z-index: 100;
}

.input-group {
  position: absolute;
  margin-left: 40%;
  margin-right: 40%;
  max-width: 20%;
}

#reloadGameButton {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

#startGameButton {
  font-size: 30px;
}

#introduction {
  right: 5%;
  top: 20%;
  position: absolute;
  max-width: 250px;
  max-height: 500px;
  font-size: 12px;
  text-align: left;
  opacity: 0.7;
}

@media (max-width: 1026px) {
  #fadeshow1 {
    display: none;
  }
}
